/* root variables */
:root {
  --color-text: navy;
  --color-bg: papayawhip;
  --color-bg-accent: #ecdcc0;
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 10s;

  --scroll-x-start: calc(31%);
  --scroll-x-end: calc(-2.3%);

  --scroll-x-reverse-start: calc(-31.5%);
  --scroll-x-reverse-end: calc(1.85%);

 
}
/* root variables */

/* keyframes */
@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-x-start));
  }
  to {
    transform: translateX(var(--scroll-x-end));
  }
}

@keyframes scroll-x-reverse {
  from {
    transform: translateX(var(--scroll-x-reverse-start));
  }
  to {
    transform: translateX(var(--scroll-x-reverse-end));
  }
}


/* css */
body {
  background: #edf6f9;
  display: grid;
  align-content: center;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  gap: var(--gap);
  line-height: 1.5;
}

.fontawesome {
  background: #edf6f9;
  display: grid;
  overflow: hidden;
  gap: var(--gap);
  justify-content: center;
  max-width: 100vw;
}


.icon-group {
  color: white;
  flex-shrink: 0;
  display: flex;
  animation: scroll-x var(--duration) linear infinite;
}

.icon-group i {
  background-color: #4361ee;
  margin: 0 0 0 10px;
  border-radius: 20px;
  display: grid;
  width: 150px;
  height: 150px;
  place-items: center;
  text-align: center;
  align-content: center;
  font-size: 55px;
}


.icon-group-reverse {
  color: white;
  display: flex;
  flex-direction:reverse;
  animation: scroll-x-reverse var(--duration) linear infinite;
}

.icon-group-reverse i {
  background-color: #4361ee;
  margin: 0 0 0 10px;
  border-radius: 20px;
  display: grid;
  width: 150px;
  height: 150px;
  text-align: center;
  align-content: center;
  font-size: 55px;
}


.title {
  text-align: center;
  justify-self: center;
  font-weight: 300;
  font-family: monospace, sans-serif;
  position: fixed;
  top: 5%;
  font-size: 45px;
}

.developer {
  text-align: center;
  justify-self: center;
  font-weight: 300;
  font-family: monospace, sans-serif;
  position: fixed;
  bottom: 2%;
}
/* css */
